* {
  box-sizing: border-box;
}

:root {
  --kuning-golkar: yellow;
  --biru-demokrat: rgb(56, 56, 222);
}

.text {
  font-size: 35px;
  color: var(--biru-demokrat);
}

#with-id {
  color: rgb(255, 0, 43);
  font-size: 20px;
}

.with-class {
  color: rgb(255, 0, 43);
  font-size: 20px;
}

div > p {
  color: rgb(255, 0, 43);
  font-size: 20px;
}

/* Selector majemuk */
.multi-selector > p:nth-child(1) {
  color: rgb(255, 119, 142);
}
.multi-selector > p:nth-child(2) {
  color: rgb(182, 182, 44);
}
.multi-selector > p:nth-child(3) {
  color: green;
}

/* Pseudo Class */

.multi-selector > p:hover {
  background-color: rgba(0, 0, 0, 0.168);
}

/* pseudo element */
.pseudo-element::before {
  content: "Menambahkan konten sebelum ";
}

/* relative and absolute position */
section {
  width: 500px;
  height: 300px;
  background-color: bisque;
  position: relative;
}
section > div:nth-child(1) {
  background-color: aquamarine;
  width: 100px;
  height: 50px;
  text-align: center;
  position: relative;
}


